# Template for GKE Workload Identity ServiceAccount patch.
# Populated automatically by deploy.sh using $PROJECT_ID.

apiVersion: v1
kind: ServiceAccount
metadata:
  name: gcp-filestore-csi-controller-sa
  namespace: gcp-filestore-csi-driver
  annotations:
    iam.gke.io/gcp-service-account: substrate-filestore-csi@${PROJECT_ID}.iam.gserviceaccount.com
